<ion-view>
  <ion-nav-title>{{user.username}}</ion-nav-title>
  <ion-content>
    <form name="editForm" ng-submit="updateAccount(user)">
      <label class="item item-input">
        <span class = "input-label fixed">Name:</span>
        <input type="text" ng-model="user.name" required>
      </label>

      <label class="item item-input">
        <span class = "input-label fixed">Given Name:</span>
        <input type="text" ng-model="user.gName" required>
      </label>

      <label class="item item-input">
        <span class = "input-label fixed">Email:</span>
        <input type="email" class="form-control" ng-model="user.email" ng-pattern="/[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?/" required>
        <p ng-show="editForm.email.$invalid && !editForm.email.$pristine" class="help-block"> WRONG! Email form: name@domain.com </p>
      </label>
      <button type="submit" class="button button-block button-positive" ng-disabled="editForm.$invalid">Submit</button>
    </form>
  </ion-content>

</ion-view>
