<!--
This file is part of MyConference.

MyConference is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License version 3
as published by the Free Software Foundation.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should find a copy of the GNU Affero General Public License in the
root directory along with this program.
If not, see http://www.gnu.org/licenses/agpl-3.0.html.
-->
<ion-view title="Forgot Password">
  <ion-content  has-tabs="true" padding="true">
  <form name="userForm" ng-submit="resetPassword(user)" novalidate>
    <div class="list">
      <label class="item item-input">
        <input type="email" ng-model="user.email" placeholder="Enter your email">
      </label>
    </div>
    <div class="assertive" ng-show="error.message">{{error.message}}</div>
    <button type="submit" class="button button-block button-positive" ng-disabled="userForm.$invalid">
            <span ng-show="!loading">Reset Password</span>
            <i ng-show="loading" class="ion-loading-b"></i>
          </button>
  </form>
  </ion-content>
  <ion-content ng-show="state.success" has-header="true" has-tabs="true" padding="true">
    <div class="positive">An email has been sent to you with instructions on resetting your password.</div>
    <button class="button button-block button-clear button-calm" ng-click="login(credentials)">
      Log In
    </button>
  </ion-content>
</ion-view>
