<ion-view>
  <ion-nav-title>{{user.username}}</ion-nav-title>
  <ion-nav-buttons side="right">
    <button ng-click="goToEdit()" class="button icon ion-edit" menu-toggle="right"></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item><i>Name:</i> {{user.name}}</ion-item>
      <ion-item><i>Given name:</i> {{user.gName}}</ion-item>
      <ion-item><i>Email:</i> {{user.email}}</ion-item>
      <buton ng-click="deleteAccount(user)" class="button button-block button-assertive">Delete account</buton>
    </ion-list>
  </ion-content>

</ion-view>
